@import "reset";
@import "grid";
@import "whitespace";
@import "colors";

html, body, form, p, ul, li, div, label, input, select, textarea {
  font-family: helvetica, ariel, sans-serif;
  font-size: 15pt;
  color:$gray-dark;
}
body {
  position: relative;
  height: 100%;
  overflow: auto;
  background-color:white;
}
h1, h2, h3, h4 {
  color: $gray-darker;
  font-style: normal;
  text-transform: none;
}
h1 {
  font-size: 54pt;
  line-height: 1.1;
  text-align: center;
}
h2 {
  text-align:left;
  font-size: 28pt;
  line-height: .9;
  margin-top: 20px;
}
h3 {
  text-align:left;
  font-size: 22pt;
  margin-top: 40px;
}
h4 {
  font-size: 14pt;
  color: $gray-light;
  text-align: center;
  margin: 10px 0 50px 0;
}
body {
  margin: 0 auto;
}
small {
  color:$gray-light;
  font-size: 0.6em;
}

.app {

  .container {

    padding: 10px;

    .image {
      padding: 10px;
      border: 1px solid grey;
      border-radius: 3px;
      img {
        width: 100%;
      }
      &:hover {
        cursor: pointer;
        background: #e7e7e7;
      }
    }
  }
}
